
/* summarization */
.ques{
  text-align: start;
  width: 250px;
  margin: 0 10px;
  color: black;
}
.ans{
  text-align: start;

  width: 650px;
  margin: 0 10px;
  color: #009f69;
}

.MenuBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.titlebox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #009f69;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #007d64;
}

.item {
  padding-inline: 1%;
}

.item2 {
  padding-inline: 2%;
}

.selectedItem2 {
  padding-inline: 2%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 90%, #ffb000 10%);
}

.item3 {
  margin-inline: 16px;
}

.itembox {
  width: 100%;
  height: 60px;
}

.fixedbox1 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.fixedbox2 {
  position: absolute;
  top: 60px;
  bottom: 120px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.fixedbox3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  overflow: hidden;
}

.fixedbox4 {
  position: absolute;
  top: 120px;
  bottom: 60px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

.fixedbox5 {
  position: absolute;
  bottom: 45px;
  width: 180px;
  height: 60px;
  overflow: hidden;
  font-size: large !important;
  font-weight: 500 !important;
}

.fixedbox6 {
  position: absolute;
  top: 120px;
  bottom: 60px;
  left: 0px;
  right: 0px;
  overflow: auto;
  background-color: #e2faef;
}

.fixedboxmotor {
  position: absolute;
  top: 300px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.problembox {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #007d64;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.searchbox {
  height: 132px;
  width: 100%;
  background-color: #e2faef;
  display: flex;
  justify-content: center;
}

.contentbox {
  width: 100%;
}

.topbox {
  width: 100%;
  height: 100%;
}

.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  padding: 16px 6px;
  margin: 10px;
  width: 110px;
  border-radius: 4px;
}

/* .checkboxVariant{

} */

.motorsubmit {
  font-weight: bold;
  padding: 16px 12px;
  margin: 16px;
  width: 128px;
  background-color: #ffb000;
  color: black;
  border-radius: 4px;
  font-weight: bold;
}

.motorresult {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontalcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.motorcard {
  border-radius: 8px;
  color: black;
  background-color: #fff7e5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 920px;
  height: 78px;
  padding: 16px;
  margin: 10px;
  border-color: rgb(210, 213, 214);
  border-width: 1px;
  border-style: solid;
}

.motordetailcard {
  display: flex;
  flex-direction: row;
}

.dataitem {
  margin: 0px 10px;
}

.headerText {
  font-size: smaller;
  font-weight: 500;
  color: #4d5556;
}

.headerText1 {
  color: var(--color-netural-400, #6c7375);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

/* Motor damage p3 */

/* .selectionbox{

} */

.selectionbutton {
  font-weight: bold;
  background: white;
  color: inherit;
  border: 1px;
  padding: 4px 8px;
  margin: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 8px;
  font-size: smaller;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-color: rgb(210, 213, 214);
  border-width: 1px;
  border-style: solid;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Resultbox2 {
  border-radius: 16px;
  margin-top: 16px;
  width: 620px;
  height: 336px;
  background-color: #f5f5f5;
  color: black;
  border-color: rgb(210, 213, 214);
  border-width: 1px;
  border-style: solid;
}

/* Poster generation */

.inputprompt {
  width: 732px;
  height: 20px;
  padding: 12px 16px;
  margin: 1px;
  border-radius: 4px;
  border: 1px solid #d2d5d6;
}

.singleimg {
  width: 140px;
  height: 140px;
  border-radius: 8px;
  background-color: #f5f5f5;
  margin: 10px;
}

.SuperContainer {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0, 48, 28, 0.81);
  backdrop-filter: blur(20px);
  justify-content: center;
}

.ImageContainer {
  background-color: #fff;
  width: 940px;
  height: 580px;
  margin: 80px 140px 230px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.ImageImage {
  width: 428px;
  height: 428px;
  /* border-color: rgb(210, 213, 214); */
  /* border-width: 1px; */
  /* border-style: solid; */
  /* border-radius: 5px; */
}


.watermarked {
  position: relative;
}

.watermarked:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url("https://www.turtlemint.com/wp-content/uploads/turtlemint-logo.webp");
  background-size: 150px 35px;
  background-position: 270px 10px;
  background-repeat: no-repeat;
  opacity: 1;
}

/* Single Image Image Generator */
.headerText {
  display: flex;
  align-self: flex-start;
  color: #6c7375;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.formInput {
  width: 354px;
  padding: 12px 16px;
  margin-right: 16px;
  border-radius: 4px;
  border: 1px solid #d2d5d6;
  background: #fff;
  margin-bottom: 10px;
  margin-top: 20px;
}

.formButton {
  width: 70px;
  height: 44px;
  min-width: 64px;
  padding: 8px 16px;
  border-radius: 4px;
  background: #cbe9db;
}

.formEndButtons {
  width: 207px;
  min-width: 64px;
  padding: 10px 16px;
}
.UploadBox1 {
  border-radius: 16px;
  margin-top: 16px;
  width: 460px;
  height: 347px;
  background-color: #f5f5f5;
  color: black;
  flex-shrink: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-color: rgb(210, 213, 214);
  border-width: 1px;
  border-style: solid;
}

.UploadBox2 {
  border-radius: 16px;
  margin-top: 16px;
  width: 1000px;
  min-height: 204px;
  background-color: #f5f5f5;
  color: black;
  flex-shrink: 0;
  border-color: rgb(210, 213, 214);
  border-width: 1px;
  border-style: solid;
}

.InfoCard {
  color: var(--color-netural-400, #6c7375);
  text-align: center;

  /* Roboto/Body/bd-small-300 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.026px;
  margin-top: 90px;
}

.box1 {
  margin: auto;
  height: 117px;
}

.box2 {
  border: 1px dotted grey;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.box3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.progress-container {
  width: 168px;
}

.progress-bar {
  width: 100%;
  height: 6px;
  background-color: #f0f0f0;
}

.progress-bar::-webkit-progress-value {
  background-color: #0a4ee1;
}

.summaryButton {
  font-size: medium;
  font-weight: bold;
  width: 400px;
  margin: auto;
  min-width: 64px;
  padding: 10px 16px;
  border-radius: var(--radius-sm, 4px);
  background: var(--color-secondary-y-500, #ffb000);
  cursor: pointer;
}

.loader {
  margin: auto;
  border: 5px solid #007d64;
  border-radius: 50%;
  border-top: 5px solid #e2faef;
  width: 45px;
  height: 45px;
  animation: spinner 1.5s infinite;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loader-text {
  font-weight: 500;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.greenBox {
  height: 89px;
  /* border-radius: 5px; */
  background: var(--color-primary-500, rgb(0, 159, 105));
  /* background-image: radial-gradient(ellipse at center top, red, green, blue); */
  /* background: radial-gradient(#009f69, white); */
  /* margin-top: -15px; */
  color: #fff;
  display: flex;
  padding: 12px 20px;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 9px; */
  font-weight: bold;
  box-shadow: 5px 10px 20px 5px rgba(0, 159, 105, 0.75);

}

.left {
  margin-right: 10px;
}
.right {
  margin-left: 10px;
}
